.content-wrapper {
    /* margin: 0 auto;  */
    padding: 20px; 
    background-color: #E2E6ED;
    /* box-sizing: border-box; */
    display: flex;

  }
.subheader{
    /* flex: 3; */
    font-size: 14px;
}
  