<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%=@name%>!</p>
    <p>This is a reminder about your upcoming package pickup.</p>
    <p>
      Your scheduled package pickup time is: <strong> TODAY <%= @formatted_time %></strong>.<br>
    </p>
    <p>Please have your box number (<strong>#<%=@box_no%></strong>) ready when you arrive at the FastLane counter.</p>
    <p>By scheduling a package, you have agreed to the following terms:</p>
    <ul>
      <li>You will arrive during your scheduled pickup time.</li>
      <li>You will take all packages available for pickup when you arrive at the Student Mail Center.</li>
      <li>You will refrain from asking questions about available packages, keys, etc. This can be done in the non-scheduled line.</li>
    </ul>

    <p>To reschedule your pickup time, <%= link_to 'click here', 'http://localhost:3001/UserHome' %>.</p>

  </body>
</html>