.AboutUs .about-wrapper {
  background-color: #e2e6ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  width: 100%;
}

.AboutUs * {
  font-family: "Open Sans", sans-serif;
}
.AboutUs h3 {
  text-align: center;
}

.AboutUs .page-title {
  font-family: "EB Garamond", serif;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color: #012169;
}

.AboutUs h2 {
  width: fit-content;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  align-self: center;
  margin: 0;
  /* margin-bottom: 30px; */
  padding: 20px 0px 20px 0px;
}

.AboutUs.mobile .toggleable h2 {
  color: black;
  /* border-bottom: 1.5px black dashed; */
  /* margin-bottom: 31.5px; */
}

.AboutUs.mobile .toggleable.active h2 {
  cursor: pointer;
  color: #339898;
  border-bottom: 3px #339898 dashed;
  margin-bottom: 30px;
}

.AboutUs .mail-staff {
  width: 75vw;
  margin: 0px 20px 20px 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AboutUs.mobile .mail-staff {
  width: 70vw;
}
.AboutUs.mobile .mail-staff:hover {
  cursor: pointer;
}

.AboutUs .members {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  margin: 0 20px 20px 20px;
  padding-left: 3vw;
  padding-right: 3vw;
}

.AboutUs .dev-team {
  width: 75vw;
  margin: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.AboutUs.mobile .dev-team {
  width: 70vw;
}
.AboutUs.mobile .dev-team:hover {
  cursor: pointer;
}

.AboutUs.mobile .staff-member .person-info {
  width: 20vw;
  min-width: 200px;
}

.AboutUs #student-team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* max-width: 90%; */
  /* align-self: center; */
  margin-bottom: 5vh;
  padding-left: 3vw;
  padding-right: 3vw;
}
.AboutUs.mobile .dev-team #student-team {
  align-self: center;
  margin-bottom: 10vh;
  max-width: 90%;
  padding: 0px;
}

/* placeholder */
.AboutUs #new-team-photo {
  /* background-color: #005587; */
  background-image: url("../assets/new-team-photo.jpeg");
  width: 70vw;
  height: 25vw;
  min-width: 200px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.AboutUs #team-desc {
  /* margin-left: 5vw; */
  width: 70vw;
  height: 0vw;
  min-width: 200px;
}

.AboutUs #team-leads {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;

  /* align-items: unset; */
}

.AboutUs .sponsors {
  width: 75vw;
  margin: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, .25);
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
}
.AboutUs.mobile .sponsors {
  width: 70vw;
}
.AboutUs.mobile .sponsors:hover {
  cursor: pointer;
}

.AboutUs #logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.AboutUs .sponsor-placeholder {
  background-color: #005587;
  width: 15vw;
  height: 15vw;
  min-width: 100px;
  min-height: 100px;
  border-radius: 100%;
  margin-bottom: max(20px, 5vh);
}

/* CSS for the contact table */
.contact-table {
  width: 100%;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Styling for table rows */
.contact-table tr {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

/* Styling for table cells */
.contact-table td {
  padding: 10px 15px;
}

/* Styling for table header cells */
.contact-table th {
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 10px 15px;
}

.contact-table tc {
  padding: 2px 5px;
}

/* Align text in the first column to the left */
.contact-table tc:first-child {
  text-align: left;
}

/* Align text in the second and third columns to the center */
.contact-table tc:not(:first-child) {
  text-align: center;
}

/* CSS for the indented paragraphs */
.mission-statement {
  text-indent: 30px; /* Adjust the indentation size as needed */
}

.mission-statement p::first-line {
  text-indent: 0; /* Reset the indentation for the first line */
}
#project-button {
  width: 10vw;
  align-self: center;
  margin-bottom: 2vh;
}

#project-button {
  background: #00539b;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: #fff;
  width: 60%;
  font-weight: 600;
  font-size: 1em;

  margin-top: 10px;
  padding: 10px;
  padding-top: 8px;
  padding-left: 8px;
  box-shadow: inset -3px -6px 0px 1.5px rgba(4, 45, 55, .5);
}
#project-button:hover {
  background: #012169;
  cursor: pointer;
  box-shadow: inset 3px 6px 0px 1.5px rgba(0, 0, 0, .5);
  padding: 10px;
  padding-bottom: 8px;
  padding-right: 8px;
}

#toggled {
  display: block !important;
  margin: 5vw;
}
