body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.AdminHub {
  align-items: center;
  background-color: #e2e6ed;
  display: flex;
  flex-direction: column;
  max-width: 100% !important;
  min-height: 90vh;
  padding-bottom: 2vh;
}
.AdminHub .page-title {
  color: #012169;
  font-family: "EB Garamond", serif;
  font-size: 3em;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.AH-flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif !important;
  gap: min(40px, 5vw);
  justify-content: center;
  max-width: 100vw !important;
}
.AH-flex-wrapper.mid,
.AH-flex-wrapper.mobile {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.AdminHub .inner-msgmod {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 3px rgb(0 0 0 /0.25);
  font-family: "Open Sans";
  min-width: fit-content;
  padding: 15px;
}
.AdminHub .inner-msgmod .msg-header {
  font-size: 1em;
  font-weight: 700;
  margin-left: 5px;
  text-align: left;
}
.AdminHub .inner-msgmod button {
  background: #00539b;
  border: none;
  border-radius: 10px;
  box-shadow: inset -3px -6px 0 1.5px rgb(4 45 55 /0.5);
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  height: fit-content;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 8px 10px 10px 8px;
  width: 60%;
}
.AdminHub .inner-msgmod button:hover,
.AdminHub .message .input button:hover,
.AH-col2 .submit-button:hover {
  background: #012169;
  box-shadow: inset 3px 6px 0 1.5px rgb(0 0 0 /0.5);
  cursor: pointer;
  padding: 10px 8px 8px 10px;
}
.AdminHub .line-stat .LineStatus h2 {
  font-size: 1em;
  font-weight: 400;
  margin-left: 5%;
  padding: 5px;
}
.AH-col1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  min-width: 20vw;
  text-align: left;
}
.AH-col1.mid {
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 95%;
  width: 70%;
}
.AH-col1.mid > * {
  box-sizing: border-box;
  flex-basis: calc(47.5% - 10px);
  flex-grow: 1;
  margin: 5px;
  min-width: fit-content;
}
.AdminHub h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  margin: 0;
  padding-left: 15px;
  white-space: normal;
}
.AH-col1.mobile {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 5vh;
  width: 70vw;
}
.AH-col1.mobile > * {
  width: 100%;
}
.AdminHub .message .input {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.AdminHub .message .input > * {
  margin: 5px;
}
.AdminHub .message .input input {
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 3px rgb(0 0 0 /0.5);
  min-height: 30px;
  min-width: 80%;
}
.AdminHub .message .input button {
  background: #00539b;
  border: none;
  border-radius: 10px;
  box-shadow: inset -3px -6px 0 1.5px rgb(4 45 55 /0.5);
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  height: fit-content;
  padding: 8px 10px 10px 8px;
  width: 60%;
}
.AdminHub.mobile .message,
.AdminHub.mobile .line-stat {
  min-height: unset;
}
.AdminHub .admin-title {
  color: #65676b;
  font-family: "Open Sans";
  font-weight: 700;
  margin: 0 auto;
  padding: 0.5vh 1.5vh;
  text-align: center;
}
.AdminHub .previews {
  background-color: #ced3dc;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgb(0 0 0 /0.5);
  box-sizing: border-box;
  padding: 10px;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center;
}
th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
.AC-col2 {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 6px rgb(0 0 0 /0.25);
  display: flex;
  flex-direction: column;
  flex-grow: 1 0;
  height: fit-content;
  min-width: 50vw;
  overflow: hidden;
}
.AH-col2.mid,
.AH-col3.mid,
.AH-col2.mobile,
.AH-col3.mobile {
  flex-grow: 1;
  width: 80%;
}
.cmp-title {
  background-color: #00539b;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 20px;
  text-align: center;
}
.ACH .ac-selectors {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  margin: auto;
  min-height: 80px;
  padding: 5px;
  width: 90%;
}
#sp-slot {
  width: 100%;
}
#sp-slot button {
  width: 30%;
}
.AH-col2 .ac-slot,
.AH-col3 .ac-slot,
.AH-col3 .ac-ts,
.AH-col3 .ac-count {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
  justify-content: center;
  margin: 5px;
}
.AH-col2 .ac-slot {
  justify-content: space-evenly;
}
.AH-col3 .ac-ts,
.AH-col3 .ac-count {
  justify-content: center;
}
.ac-slot button {
  background-color: #e2e6ed;
  border: none;
  border-radius: 10px;
  font-family: "Open Sans";
  font-weight: 700;
  min-height: 65px;
  padding: 8px 10px 10px 8px;
  text-align: center;
  width: 40%;
}
.ac-slot button:hover {
  background-color: #a6b3c9;
  cursor: pointer;
  font-weight: 900;
  padding: 10px 8px 8px 10px;
}
.AH-col3 .ac-count:active {
  border: 1px solid grey;
}
.AH-col2 .ac-selectors * label {
  padding: 5px;
}
.AH-col2 .ac-selectors * select {
  border-radius: 10px;
  min-height: 30px;
}
.AH-col2 h2 {
  height: auto;
  margin: 0;
  text-align: center;
}
.submit-button {
  background: #00539b;
  border: none;
  border-radius: 10px;
  box-shadow: inset -3px -6px 0 1.5px rgb(4 45 55 /0.5);
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  height: fit-content;
  margin-bottom: 0;
  min-width: fit-content;
  padding: 8px 10px 10px 8px;
  width: 30%;
}
.cancel-button {
  background: #c84e00;
  border: none;
  border-radius: 10px;
  box-shadow: inset -3px -6px 0 1.5px rgb(4 45 55 /0.5);
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  height: fit-content;
  margin-bottom: 0;
  min-width: fit-content;
  padding: 8px 10px 10px 8px;
  width: 30%;
}
.cancel-button:hover {
  background: #8f3700;
  box-shadow: inset 3px 6px 0 1.5px rgb(0 0 0 /0.5);
  cursor: pointer;
  padding: 10px 8px 8px 10px;
}
.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 60%;
}
.AH-col2 .no-date-selec {
  text-align: center;
  width: 100%;
}
.TimeslotsTable table tr:first-child th {
  width: 50%;
}
.AH-col1,
.AH-col3 {
  width: 20vw;
}
.AH-col2 {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 3px rgb(0 0 0 /0.25);
  width: 50vw;
}
