.UserHome {
  background-color: #e2e6ed;
  box-sizing: border-box;
  height: 100vh;
  overflow: scroll;
  text-align: center;
  width: 100vw;
  flex-grow:1;
  display:block;
}
.UserHome .page-title {
  color: #012169;
  font-family: "EB Garamond", serif;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  white-space: normal;
}
.UserHome.mobile h1 {
  margin: 0 auto;
  margin-top: 20px;
  white-space: normal;
  width: 75vw;
}
.UserHome .UH-flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}
.UserHome.mobile .UH-flex-wrapper {
  align-items: center;
  flex-direction: column;
}
.UserHome .UH-col1-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  min-width: 22vw;
  text-align: left;
}
.UserHome .UH-col1-wrapper h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: initial !important;
  padding: 5px 5px 5px 10px;
}
.UserHome.mobile .UH-col1-wrapper {
  margin: 0 auto;
  margin-bottom: 5vh;
  width: 75vw;
}
