<h1>Editing admin message</h1>

<%= render "form", admin_message: @admin_message %>

<br>

<div>
  <%= link_to "Show this admin message", @admin_message %> |
  <%= link_to "Back to admin messages", admin_messages_path %>
</div>
