<h1>Editing line status</h1>

<%= render "form", line_status: @line_status %>

<br>

<div>
  <%= link_to "Show this line status", @line_status %> |
  <%= link_to "Back to line statuses", line_statuses_path %>
</div>
