<p style="color: green"><%= notice %></p>

<h1>Line statuses</h1>

<div id="line_statuses">
  <% @line_statuses.each do |line_status| %>
    <%= render line_status %>
    <p>
      <%= link_to "Show this line status", line_status %>
    </p>
  <% end %>
</div>

<%= link_to "New line status", new_line_status_path %>
