header > * {
  background-color: #012169 !important;
  display: flex !important;
  position: sticky !important;
  z-index: 1100 !important;
}
.makeStyles-link-2 {
  border-bottom: 2px transparent !important;
  margin: 0 20px !important;
  min-width: fit-content !important;
  padding: 5px;
}
.makeStyles-link-2:first-child {
  margin: 0 20px 0 0 !important;
}
.makeStyles-link-2:hover,
.logout-btn-hmbrg .MuiButtonBase-root:hover,
.logout-btn .MuiButtonBase-root:hover {
  background-color: #1d6363 !important;
  border-bottom: 2px solid #fff !important;
}
#root > header > div > header > div {
  background-color: transparent !important;
}
.Header .MuiToolbar-root {
  flex-direction: row !important;
  justify-content: flex-end !important;
  padding: 0 !important;
}
.Header.mobile .MuiToolbar-root,
.Header.mobile{
  justify-content: space-between;
}
.Header .MuiIconButton-root {
  color: #fff !important;
  margin-left: unset !important;
  margin-right: 10px !important;
  padding-right: 0 !important;
}
.duke-wrapper {
  color: #fff;
  display: flex;
  height: 90px;
  white-space: nowrap;
  z-index: 2;
}
.duke-wrapper.mobile {
  flex-grow: 1;
}
.header-sub {
  align-self: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  padding: 20px 40px 20px 0;
}
.header-sub:hover,
.header-duke:hover {
  cursor: pointer;
}
.header-sub.mobile {
  margin-left: 20px;
}
.header-duke {
  align-self: center;
  flex-basis: 0;
  font-family: "EB Garamond";
  font-size: 2em;
  padding: 20px;
  text-align: center;
}
.header-duke::after {
  border-right: 1px solid #fff;
  content: "";
  padding: 5px;
}
.header-duke.mobile {
  display: none;
}
.Header .makeStyles-logoutButton-4 {
  margin-left: auto !important;
  margin-right: 20px !important;
}
.hmbrg-sxn,
.Header .MuiContainer-root {
  width: -webkit-fill-available !important;
}
.Header.mid .MuiContainer-root {
  padding: 0 !important;
}
.Header .MuiToolbar-root,
.makeStyles-appBar-1 {
  width: 100% !important;
}
.MuiContainer-maxWidthMd {
  max-width: unset !important;
}
body
  > div.MuiDrawer-root.MuiDrawer-modal
  > div.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight.MuiPaper-elevation16 {
  background-color: #012169 !important;
}
.logout-btn-hmbrg {
  color: #fff !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.logout-btn-hmbrg .MuiButtonBase-root,
.logout-btn .MuiButtonBase-root {
  border: none !important;
  border-bottom: 2px transparent !important;
  border-radius: 0 !important;
  font-family: "Open Sans" !important;
  font-size: 20px !important;
  font-weight: 800 !important;
  line-height: unset !important;
  margin: 0 20px 0 0 !important;
  padding: 5px !important;
  text-align: left !important;
  text-transform: none !important;
}
#lo-icon {
  margin-left: 10px;
}
