.Package {
display: flex;
align-items: center;
border-radius: 10px;
background-color: #00539B;
width: 90%;
margin: 0 auto;
text-align: left;
padding: 6px;
margin-bottom: 1vh;
min-height: 6vh;
overflow-wrap: break-word;
word-break: break-word;
}
.Package p {
  margin: 0;
  color: #fff;
}