<h1>Editing user timeslot</h1>

<%= render "form", user_timeslot: @user_timeslot %>

<br>

<div>
  <%= link_to "Show this user timeslot", @user_timeslot %> |
  <%= link_to "Back to user timeslots", user_timeslots_path %>
</div>
