<p style="color: green"><%= notice %></p>

<h1>User timeslots</h1>

<div id="user_timeslots">
  <% @user_timeslots.each do |user_timeslot| %>
    <%= render user_timeslot %>
    <p>
      <%= link_to "Show this user timeslot", user_timeslot %>
    </p>
  <% end %>
</div>

<%= link_to "New user timeslot", new_user_timeslot_path %>
